@model PlayOn_24.ViewModels.OrderViewModels.CreateOrderViewModel;

@{

    ViewData["Title"] = "Create Order";
}

<div class="container mt-3">
    <h1><br>Create Order<br></h1>

    <div class="card">
        <div class="card-body row">
            <img class="card-img-top col-6 poster" src="@Model.Product.PhotoPath" alt="@Model.Product.Name"
                asp-append-version="true" />
            <div class="col-6">
                <h4 class="card-title"><i>Name</i>: @Model.Product.Name</h4><br>
                <h6><i>Price</i>: @Model.Product.Price</h6>
            </div>
        </div>
    </div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input hidden asp-for="@Model.Product.Id" />
        <input hidden asp-for="@Model.Product.Name" />
        <div class="form-floating mt-3 mb-4">
            <input asp-for="Quantity" class="form-control" />
            <label asp-for="Quantity"></label>
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div id="customerDiv" class="form-floating mt-3 mb-3">
            <input type="hidden" asp-for="CustomerId" />
            <label>Customer</label>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Order</button>
    </form>
</div>

@section Scripts
{
    <script src="~/js/addCustomer.js"></script>
    <partial name="_ValidationScriptsPartial" />
}